//colors
$white: #f5f5f5;
$ligth-grey: #efefef;
$grey: #d1d1d1;
$dark-grey: #242424;
$green: #60b108;
$dark-green: #0e1a0e78;
$orange: #ff9100;
//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
//clases estaticas
//tipografias
%white-serif {
  text-transform: capitalize;
  font-family: sans-serif;
  color: $white;
}
%black-monserrat {
  text-transform: capitalize;
  font-size: 160%;
  margin: 2rem auto;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
}
//boton naranja
%link {
  a {
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
    color: $white;
  }
  background: $orange;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 2px;
}
%link:hover {
  background: lighten($color: $orange, $amount: 30);
  transition: background 2s;
}
