//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
//colors
$white: #f5f5f5;
$grey: #d1d1d1;
$green: #3d7400;
//clases estaticas (no compilan en el css)
//tipografias
%white-serif {
  text-transform: capitalize;
  font-family: sans-serif;
  color: $white;
}
%black-monserrat {
  text-transform: capitalize;
  font-size: 160%;
  margin: 2rem auto;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
}
//boton
%link {
  a {
    @extend %white-serif;
    font-size: 1.4rem;
    text-decoration: none;
  }
  background: $green;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 2px;
}
%link:hover {
  background: lighten($color: $green, $amount: 30);
  transition: background 2s;
}
