//colors
$white: #f5f5f5;
$ligth-grey:#efefef;
$grey: #d1d1d1;
$dark-grey:#404040;
$green: #58d230;
$dark-green:#0e1a0e78;
$orange: #f59c40;
//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');