@import "constants.scss";

body {
  margin: 0;
  position: relative;
}
h3,
p {
  font-family: sans-serif;
  line-height: 125%;
}

//Mobile first
.header {
  &__top {
    &--logo {
      margin: 0.5rem;
      height: 3rem;
    }
    &--icon {
      cursor: pointer;
      width: 30px;
      height: 27px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      div {
        height: 4px;
        z-index: 999;
        border-radius: 20px;
        align-self: flex-end;
        width: 100%;
        background-color: $white;
        transition: 0.2s ease-in-out;
      }
    }
    &--nav {
      display: none;
      a {
        @extend %white-serif;
      }
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__h1 {
    @extend %white-serif;
    font-size: 1.7rem;
    margin: auto auto 4rem 1.5rem;
    position: absolute;
    bottom: 0;
    line-height: 150%;
  }
  position: relative;
  height: 75vh;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.res {
  div div:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    width: 100%;
  }
  div div:nth-child(2) {
    opacity: 0;
  }
  div div:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  nav {
    background: $dark-green;
    display: block;
    position: absolute;
    text-align: center;
    top: 3.5rem;
    width: 100%;
    outline: 1px solid $grey;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding: 1.5rem;
        margin: 0;
        font-size: 1.2rem;
        a {
          text-decoration: none;
          color: $white;
        }
      }
      li:not(:last-child) {
        border-bottom: 1px solid $grey;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.nosotros {
  &--h2 {
    @extend %black-monserrat;
  }
  &__div {
    &--item {
      padding: 5%;
      h3 {
        text-transform: capitalize;
      }
    }
  }
  width: 100%;
  text-align: center;
}

.anuncios {
  &--h2 {
    @extend %black-monserrat;
  }
  &__div {
    &__art {
      > img {
        width: 100%;
      }
      &--div {
        h3,
        p,
        ul {
          margin: 0.5rem;
        }
        h3 {
          text-transform: capitalize;
        }
        p:nth-child(3) {
          text-align: left;
          color: $green;
          font-weight: bold;
          font-size: large;
        }
        ul {
          list-style: none;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0;
        }
        div {
          @extend %link;
        }
        div:hover {
          @extend %link:hover;
        }
      }
      background: $ligth-grey;
      border: $grey solid 0.1px;
      margin: 10%;
      border-radius: 1px;
    }
  }
  text-align: center;
}

.contacto {
  &--h2 {
    @extend %white-serif;
    font-size: 1.7rem;
  }
  h2,
  p {
    color: $white;
    margin: 0.4rem;
    width: 100%;
  }
  div {
    @extend %link;
  }
  div:hover {
    @extend %link:hover;
  }
  height: 15rem;
  background-image: url("../images/encuentra.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-end;
}

.blog {
  &--h2 {
    @extend %black-monserrat;
  }
  &__art {
    > img {
      width: 100%;
    }
    h3,
    p {
      margin: 0.5rem;
    }
    hr {
      background: $green;
      height: 0.35rem;
      margin: 1.2rem auto;
      width: 35%;
      border-radius: 25px;
      border: none;
    }
    span {
      color: $orange;
    }
    margin: 0 0 3rem 0;
  }
  text-align: center;
}

.comentario {
  &--h2 {
    @extend %black-monserrat;
  }
  &__com {
    img {
      margin: 0.5rem 0 0 0.5rem;
    }
    blockquote {
      cite {
        float: right;
        font-weight: bold;
      }
      @extend %white-serif;
      margin: 1rem;
      line-height: 175%;
      margin: 1rem 1rem 1rem 0rem;
    }
    display: flex;
    align-items: baseline;
    background: $green;
    border-radius: 20px;
    width: 90%;
    text-align: start;
    margin: auto;
  }
  text-align: center;
  margin: 0 0 3rem 0;
}

.footer {
  nav {
    display: none;
    ul {
      margin: 0;
    }
    a {
      @extend %white-serif;
      text-decoration: none;
    }
  }
  p {
    color: $white;
    margin: 1rem;
  }
  margin-top: 1rem;
  background: $dark-grey;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*back-to-top-button*/
:root {
  scroll-behavior: smooth;
} /*smooth scrollins on back-to-top button*/
.scroll-top {
  position: absolute;
  top: 120vh;
  bottom: 2rem;
  right: 2rem;
}
.scroll-top__link {
  position: sticky;
  top: 85.5vh;
  background-color: $grey;
  color: black;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
  opacity: 0.3;
}
.scroll-top__link:hover {
  opacity: 0.7;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .nosotros {
    &__div {
      &--item {
        padding: 1%;
        img {
          width: 70px;
        }
        width: 33%;
      }
      display: flex;
    }
  }

  .anuncios {
    &__div {
      &__art {
        > img {
          width: 50%;
        }
        display: flex;
      }
    }
  }

  .blog {
    &__art {
      > img {
        width: 50%;
      }
      &--div {
        align-self: center;
      }
      display: flex;
    }
  }

  .comentario {
    &__com {
      width: 80%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .anuncios {
    &__div {
      &__art {
        > img {
          width: 100%;
        }
        width: 33%;
        display: block;
        margin: 1rem;
      }
      margin-bottom: 2rem;
      display: flex;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header {
    &__top {
      &--icon {
        display: none;
      }
      &--nav {
        display: block;
        ul {
          list-style: none;
          display: flex;
          li {
            padding: 0 1rem;
          }
        }
      }
    }
  }

  .anuncios {
    &__div {
      &__art {
        margin: 3rem;
      }
    }
  }

  .footer {
    nav {
      display: block;
      ul {
        list-style: none;
        display: flex;
        li {
          padding: 0 1rem;
        }
      }
    }
  }

  .blog {
    &__art {
      > img {
        margin: 1rem;
        height: 10rem;
      }
      margin-bottom: 0;
    }
    width: 59%;
    display: inline-block;
  }

  .comentario {
    float: right;
    width: 40%;
    blockquote {
      font-size: large;
      padding: 2rem 0;
    }
  }
}
